<!-- <div id="container">
    <app-sidebar></app-sidebar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!-- <h1>SubCell</h1> -->
<!-- <mat-icon matTooltip="MY CART">shopping_cart</mat-icon> -->


<mat-sidenav-container autosize="" fxLayout="column" fxFlex="">
    <!---fxFlexFill -->
    <mat-sidenav-content fxLayout="column" fxFlex="">
        <mat-toolbar>
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
            </div>

            <a mat-button class="companyName" routerLink="/">
                <span>Sub Cell</span>
            </a>
            <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <a mat-button routerLink="/about-us">About us</a>
                <a mat-button routerLink="/prices">Prices</a>
                <a mat-button routerLink="/start-page">Start page</a>
                <a mat-button routerLink="/offer">Offer</a>
                <a mat-button routerLink="/contact">Contact</a>
            </div>
        </mat-toolbar>
        <!---fxFlexFill -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" fxShow="true" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/about-us">About us</a>
            <a mat-button routerLink="/prices">Prices</a>
            <a mat-button routerLink="/start-page">Start page</a>
            <a mat-button routerLink="/offer">Offer</a>
            <a mat-button routerLink="/contact">Contact</a>
        </div>
    </mat-sidenav>
</mat-sidenav-container>