<div class="main-container">
    <div class="sub-container">
        <div>
            <div class="landingImage">
                <!-- <img class="img" src="assets/images/landingPage1.png"> -->
                <img class="img" src="https://barkham03.github.io/ProjectAngular/assets/images/landingPage1.png">
                <div class="head">
                    <p class="para">We Rent Mobile Phones</p>
                    <button class="button" mat-button (click)="openDialog()">Rent</button>
                </div>
            </div>
            <h1>AVAILABLE PHONES</h1>
            <div class="sliders">
                <ng-container *ngFor="let img of imgList; let i = index">
                    <div class="slider" *ngIf="current == i">
                        <img class="pictures" [src]="img">
                    </div>
                </ng-container>
            </div>
            <div>
                <h1>WHY TO RENT PHONES</h1>
                <!-- <img class="img" src="assets/images/benefits.PNG"> -->
                <img style="min-width: 500px" src="https://barkham03.github.io/ProjectAngular/assets/images/benefits.PNG">
            </div>
        </div>
    </div>
</div>