<!-- <div fxLayout="column"> -->
<!-- <div class="top-counter">
    <h1>Count : [{{count}}]</h1>
</div> -->
<ng-container *ngFor="let i of elements">
    <app-img-lazy-loading></app-img-lazy-loading>
</ng-container>
<!-- <img class="img" [@foobar]="state" loading="lazy" src="assets/images/phones">
<img class="img" [@foobar]="state" loading="lazy" src="assets/images/phones">
<img class="img" [@foobar]="state" loading="lazy" src="assets/images/phones">
<img class="img" [@foobar]="state" loading="lazy" src="assets/images/phones"> -->
<!-- </div> -->