// /* You can add global styles to this file, and also import other style files */
// body {
//     margin: 0;
//     background: rgb(243, 173, 220);
//     font-family: 'Montserrat', sans-serif;
//     height: 100vh;
// }
// #container {
//    display: grid;
//    grid-template-columns: 80px auto;
//    height: 100%;
//    #content {
//        padding: 30px 50px;
//        ul {
//            list-style-type: none;
//            margin:0;padding:0;
//            li {
//                background: rgb(221, 250, 154);
//                border-radius: 8px;
//                padding: 20px;
//                margin-bottom: 8px;
//                a {
//                    font-size: 1.5em;
//                    text-decoration: none;
//                    font-weight: bold;
//                    color:#00A8FF;
//                }
//                ul {
//                    margin-top: 20px;
//                    li {
//                        padding:0;
//                        a {
//                            font-size: 1em;
//                            font-weight: 300;
//                        }
//                    }
//                }
//            }
//        }
//    }
// }
@import "~font-awesome/css/font-awesome.css";
.fa,
.fab,
.fas,
.far {
    transform: scale(1.0, 1.0);
    font-size: 1.5rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none !important;
}

body {
    overflow: auto;
    font-family: sans-serif !important;
}

.main-container {
    width: 100%;
    height: 100%;
    // position: fixed;
    // top: 64px;
}

h2 {
    font-size: 12px !important;
    font-family: system-ui !important;
}

h6 {
    color: black;
    padding: 10px 10px;
    font-family: 'Font Awesome 5 Brands';
    font-size: 1.5rem !important;
}

.pdb {
    padding-bottom: 10px;
}

.fs10 {
    font-size: 10px;
}

.fs12 {
    font-size: 12px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb10 {
    margin-bottom: 10px;
}

.sub-container {
    max-width: 1800px !important;
    // overflow: auto;
    // margin-left: auto !important;
    // margin-right: auto !important;
    // height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 5px;
    &:hover {
        background: #cfcdcd;
        border-radius: 5px;
    }
}

.mat-dialog-container {
    max-width: 500px !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.mat-dialog-title {
    padding: 15px 10px 10px 20px;
    background-color: var(--secondary-band);
    color: var(--primary-toolbar);
}

.mat-dialog-content {
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 10px 20px !important;
}

.mat-dialog-actions {
    margin: 0 !important;
    padding: 10px 20px 15px 20px !important;
}

.mat-toolbar {
    background: black;
    color: #fff;
}

.carousel-inner {
    height: 200px !important;
}

.carousel-item {
    height: 200px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100 !important;
    }
}

.footer {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 1px;
    right: 5px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.myfloat {
    margin: 10px;
}

// @media (max-width: 640px) {
//     mat-sidenav.side-nav {
//         min-width: 150px;
//         top: 56px !important;
//     }
//     .mat-dialog-container {
//         max-width: 500px !important;
//     }
// }